.aot__section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.aot__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.13));
    height: 618px;
    width: 100%;
}

.aotimg__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.aotimg {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 506px;
}

.aoticon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF2F5;
    padding: 32px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.aoticon__container img {
    height: 160px;
    width: 160px;
}

@media(max-width: 1500px) {
    .aoticon__container img {
        height: 120px;
        width: 120px;
    }

    .aot__container {
        height: 598px;
    }
}

@media(max-width: 1250px) {
    .aoticon__container img {
        height: 100px;
        width: 100px;
    }

    .aot__container {
        height: 588px;
    }
}

@media(max-width: 1025px) {
    .aot__container {
        height: 482px;
    }

    .aotimg {
        height: 400px;
    }
}

@media(max-width: 750px) {
    .aoticon__container img {
        height: 80px;
        width: 80px;
    }

    .aotimg {
        height: 320px;
    }

    .aot__container {
        height: 392px;
    }
}

@media(max-width: 450px) {
    .aoticon__container img {
        height: 64px;
        width: 64px;
    }

    .aotimg {
        height: 240px;
    }

    .aot__container {
        height: 304px;
    }
}

@media(max-width: 400px) {
    .aoticon__container img {
        height: 56px;
        width: 56px;
    }

    .aoticon__container {
        padding: 24px;
    }

    .aotimg {
        height: 200px;
    }

    .aot__container {
        height: 252px;
    }
}



