.shopping__cart {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    padding: 16px;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.13));
    width: 437px;
    position: sticky;
    top: 8px;
}

.shoppingcart__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clearcart__button {
    border: 0;
    border-radius: 4px;
    padding: 4px;
    background: #EEF2F5;
    color: #ED5834;
    font-size: 16px;
    cursor: pointer;
}

.clearcart__button:hover {
    background: #ececed;
}

.cart__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    padding-right: 16px;
    max-height: 212px;
}

.noitemsin__cart {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.cart__item {
    display: flex;
    gap: 16px;
}

.cartitem__img {
    background-color: #EEF2F5;
    border-radius: 8px;
    padding: 8px;
}

.cartitem__img img {
    height: 40px;
    width: 40px;
}

.cartitem__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.cartitem__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.cartitemcontent__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adjust__quantity {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.quantatiy__input {
    border: 0;
    background: transparent;
    font-size: 20px;
    width: 20%;
    max-height: 24px;
    text-align: center;
}

.quantatiy__input:focus {
    border: solid 2px #ED5834;
    border-radius: 4px;
}

.cartitem__price {
    color: rgba(0, 0, 0, 0.673);
    font-size: 16px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #EEF2F5;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:  #ED5834;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #f36d4c;
}

.cart__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.payment__section {
    background: #F9F9FB;
    outline: 2px dashed #cccccd ;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.paymentservice__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paymenterror__message {
    color: #ED5834;
}

.payment__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment__sums {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.paymentsum__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.deliverycost__chooser {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
}

.giftcode__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.giftcode__container input {
    border-radius: 8px;
    border: solid rgba(0, 0, 0, 0.204) 1px;
    padding: 4px;
    font-size: 16px;
}

.gift__sum {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 19px;
}

.giftsum__errormessage {
    justify-content: space-between;
}

.payment__seperator {
    width: 100%;
    outline: 1px dashed #cccccd ;

}

.completesum__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.complete__sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-weight: bold;
}

.paymentservice__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paymentservices__container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.payment__service {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    width: 182px;
    height: 112px;
    cursor: pointer;
}

.payment__service img {
    height: 96px;
    width: 96px;
    object-fit: cover;
}

.payment__service:hover {
    border: solid 2px #ED5834;
}

.paymentservice__selected {
    border: solid 2px #ED5834;
}

.cartmobile__section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    padding: 32px 16px 32px 16px;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.13));
    width: 100%;
    max-height: 1578px;
    align-self: flex-start;
    height: auto;
    overflow: hidden;
}

.cartmobile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__containermobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;
    padding-right: 16px;
    max-height: 316px;
}

.paymentservices__containermobile {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.payment__servicemobile {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    height: 112px;
}

.payment__servicemobile img {
    height: 96px;
    width: 96px;
    object-fit: cover;
}

.payment__servicemobile:hover {
    border: solid 2px #ED5834;
}

.cart__itemmobile {
    display: flex;
    gap: 32px;
}

.cartitem__contentmobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.cartitemcontent__containermobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adjust__quantitymobile {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 50%;
}

.quantatiy__inputmobile {
    border: 0;
    background: transparent;
    font-size: 20px;
    width: 20%;
    max-height: 24px;
    text-align: center;
}

.quantatiy__inputmobile:focus {
    border: solid 2px #ED5834;
    border-radius: 4px;
}

.cartitem__pricemobile {
    color: rgba(0, 0, 0, 0.673);
    font-size: 16px;
}

.cartitem__headermobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    word-break: break-all;
    font-size: 16px;
}

.paymentsum__boxmobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.giftcode__containermobile {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.giftcode__containermobile input {
    border-radius: 8px;
    border: solid rgba(0, 0, 0, 0.204) 1px;
    padding: 4px;
    font-size: 16px;
}

.complete__summobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 600px) {
    .cart__itemmobile {
        gap: 16px;
    }

    .adjust__quantitymobile {
        gap: 8px;
        width: 70%;
    }

    .quantatiy__inputmobile {
        width: 50%;
    }

    .cartitem__pricemobile {
        display: none;
    }

    .paymentsum__boxmobile {
        gap: 16px;
    }

    .giftcode__containermobile {
        gap: 16px;
    }

    .complete__summobile {
        gap: 16px;
    }
}

@media(max-width: 450px) {
    .giftcode__containermobile input {
        width: 50%;
    }
}

@media(max-width: 400px) {
    .payment__section {
        padding: 8px;
    }

    .payment__servicemobile {
        width: 46%;
    }
}


